syntax: glob

node_modules
shipit_build

Compiled
_ReSharper.*
obj/*
*/obj/*
*.vssscc
*.vspscc
*.suo
*.user
.settings/org.eclipse.core.resources.prefs
*.cs-*
*.cs.orig
*.csproj-*
*.aspx-*
*.config-*
*.xml-*
*.ascx-*
*.sln-*
*.orig
*.xsl-*
*.dll-*
*.xsd-*
*.xss-*
*.css-*
*.js-*
*.Master-*
*.png-*
*.ps1-*
*.sln.cache
*.dotCover
*.crunchproject.local.xml
*.crunchsolution.*
*.dbmdl
log/*
*.idea
*.*(!)
*.DS_Store
*.nginx_conf
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name

spa/html/verstka_Vaneltin/img/.DS_Store
spa/html/verstka_Vaneltin/img/flags/.DS_Store
spa/html/verstka_Vaneltin/img/individual-tour/.DS_Store
spa/html/verstka_Vaneltin/img/individual/.DS_Store

spa/uploads/maket_photos/Thumbs.db

*-stub.json
koa.js

spa/js/debug.js
spa/*.sh

brunch-config.js
.nginx_conf
.nginx.conf
nginx.nginx_conf
.hgignore
.hgflow

build
build_and_publish
npm-debug.log
publish
node_tasks/manifest.json


# игнорируем собранный файл спрайтов
spa/img/sprites/*.json
spa/img/sprites/icon-*.png
spa/styl/sprite.styl
spa/styl/temp/*.styl
spa/styl/partners/**/*.css
spa/js/**/*.css

bower_components/**/node_modules
bower_components/bower-components.js
bower_components/bower-components.*.js
!bower_components/**/build
!bower_components/**/src
#!bower_components/**/dist
!bower_components/**/min



# VisualStudio
App_Data
Web.Debug.config
Web.Release.config
website.publishproj
Solution.v12.suo
Inna.Frontend.csproj
Inna.Frontend.SPA.sln
start_on_node_server.cmd

logs
start_on_node_server.cmd
spa/js/widgets/search/inna-search.js
spa/partners/**/assets/*.css
cache__api_v1_partner_getall.json


sprite.png

/dist
!bower_components/**/dist
cache__api_v1_partner_getall.json
shipit_build_test