body{
  margin: 0;
  padding: 0;
}
.main-header{
  background:linear-gradient(to bottom,#2f2f2f 0,#1c1c1c 100%);
}
.main_menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0;
}
.main_menu>li{
  list-style: none;
  padding: 10px;
  color: white;
}
.main_menu>li>a{
  color: white;
  text-decoration: none;
}